<div class="col-md-12 container" ng-app="app">
  <div ng-controller='mainController'>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="col-md-2"></div>

      <div class="col-md-1 navbar-header">
        <a class="navbar-brand" href="#">Mini-tweeter!</a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="col-md-2 nav navbar-nav">
          <li><a href="#!/users/index">Users</a></li>
          <li><a href="#!/users/new">New User</a></li>
        </ul>

        <div class="col-md-3"></div>

        <ul class="col-md-2 nav navbar-nav navbar-left">
          <li><a href="#!/tweets/index">Tweets</a></li>
          <li><a href="#!/tweets/new">New Tweet</a></li>
          <li><a href="#!/tags/index">Tags</a></li>
        </ul>
      </div>

      <div class="col-md-2"></div>
    </nav>

    <div class="col-md-2"> </div>
    <div class="col-md-8">

      <div class="row" id="principal">
        <br>
        <br>
        <div class='main common-style' ng-view>

          <!-- <<<<<<<<<<<<<<<<<<<<<<<< APP MAIN VIEW >>>>>>>>>>>>>>>>>>>>>>>>>> -->

        </div>

      </div>

    </div>
    <div class="col-md-2"> </div>
  </div>
</div>