<div class="col-md-12 container" ng-app="app">
  <div ng-controller='mainController'>
    <nav class="navbar navbar-default navbar-fixed-top tittle-bar" role="navigation">
      <div class="col-md-2"></div>

      <div class="col-md-1 navbar-header">
        <a class="navbar-brand tittle-bar-principal" href="#"><span>Tweeter!</span></a>
      </div>

      <div class="col-md-1"></div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="col-md-2 nav navbar-nav">
          <li><a class="tittle-bar-link" href="#!/users/index"><span>Users</span></a></li>
          <li><a class="tittle-bar-link" href="#!/users/new"><span>New User</span></a></li>
        </ul>

        <div class="col-md-2"></div>

        <ul class="col-md-2 nav navbar-nav navbar-left">
          <li><a class="tittle-bar-link" href="#!/tweets/index"><span>Tweets</span></a></li>
          <li><a class="tittle-bar-link" href="#!/tweets/new"><span>New Tweet</span></a></li>
          <li><a class="tittle-bar-link" href="#!/tags/index"><span>Tags</span></a></li>
        </ul>
      </div>

      <div class="col-md-2"></div>
    </nav>

    <div class="col-md-2"> </div>
    <div class="col-md-8">

      <div class="row" id="principal">
        <br>
        <br>
        <div class='main common-style' ng-view>

          <!-- <<<<<<<<<<<<<<<<<<<<<<<< APP MAIN VIEW >>>>>>>>>>>>>>>>>>>>>>>>>> -->

        </div>

      </div>

    </div>
    <div class="col-md-2"> </div>
  </div>
</div>