<h1>Welcome to mini-tweeter!</h1>
<p style="font-size:18px;">
  Assignment for StudentStay. Very simple version of a twitter-type of application with the following requirements:
</p>
<ol style="font-size:18px; padding-bottom: 5px;">
  <li style="padding-top: 5px;">It is possible to create/edit a user with basic fields like user_name and e-mail.</li>
  <li style="padding-top: 5px;">It is possible for a user to create/edit/remove a message/tweet.</li>
  <li style="padding-top: 5px;">It is possible to add are two types of messages/tweets: text and image.</li>
  <li style="padding-top: 5px;">It most be easy to add more types of messages/tweets like audio or video.</li>
  <li style="padding-top: 5px;">It is possible to add/remove tags.</li>
  <li style="padding-top: 5px;">It is possible to click on a tag to get an overview of other messages/tweets with the same tag.</li>
  <li style="padding-top: 5px;">It is possible to get an overview of all the different tags and how often they are used.</li>
  <li style="padding-top: 5px;">Every third message on the screen will be marked with the text "third message". (in de title or next to the message)</li>
  <li style="padding-top: 5px;">Every fifth message on the screen will be marked with the text "fifth message". (in de title or next to the message)</li>
  <li style="padding-top: 5px;">If a message is both third and fifth message (like the 15th message) it will be marked with the text "third message and fifth message".</li>
</ol>